<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Панель администратора</h1>

    <p>
        Добро пожаловать, <strong th:text="${loggedInUser.username}">Админ</strong>!
        (<span th:text="${loggedInUser.role}">admin</span>)
    </p>

    <form th:action="@{/logout}" method="post" class="mb-4">
        <button type="submit" class="btn btn-danger">Выйти</button>
    </form>

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
    <div th:if="${successMessage}" class="alert alert-success" role="alert" th:text="${successMessage}"></div>

    <div th:replace="admin/fragments/tripTable :: tripSection">
        Загрузка таблицы рейсов...
    </div>

    <div th:replace="admin/fragments/userTable :: userSection">
        Загрузка таблицы пользователей...
    </div>


</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>