<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f8f9fa;
        }
        .form-container {
            max-width: 400px;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="form-container card shadow">
    <h2 class="card-header text-center">Вход</h2>
    <div class="card-body">

        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Неверные имя пользователя или пароль.
        </div>

        <div th:if="${param.logout}" class="alert alert-info" role="alert">
            Вы успешно вышли из системы.
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
        <div th:if="${successMessage}" class="alert alert-success" role="alert" th:text="${successMessage}"></div>


        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Введите имя пользователя" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>

        <hr>

        <div class="text-center">
            Нет аккаунта? <a th:href="@{/register}" class="link">Зарегистрироваться!</a>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>